.DS_Store
.vscode/

C/Colleen
C/Grace
C/*.dSYM/
C/*.txt
C/Grace_kid.c
C/a.out
C/Sully_5.c
C/Sully_5
C/Sully_4.c
C/Sully_4
C/Sully_3.c
C/Sully_3
C/Sully_2.c
C/Sully_2
C/Sully_1.c
C/Sully_1
C/Sully_0.c
C/Sully_0
C/Sully
